<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
	  <!--add name="cadena_conexion" connectionString="Data Source=(local);Initial Catalog=DBSISTEMA_VENTA;Integrated Security=True" providerName="System.Data.SqlClient"/-->
	  <add name="cadena_conexion" connectionString="workstation id=DBVENTASPRUEBA.mssql.somee.com;packet size=4096;user id=ecermenop1_SQLLogin_1;pwd=6u8jx7dw4o;data source=DBVENTASPRUEBA.mssql.somee.com;persist security info=False;initial catalog=DBVENTASPRUEBA;TrustServerCertificate=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>